<h1>{{title}}</h1>

<!-- <app-senales [fromParent]="parentData" (buttonEmitter)="emitterData($event)"></app-senales>
<app-old-signals (buttonEmitter)="emitterData($event)"></app-old-signals> -->

<!-- <app-examples></app-examples> -->

<!-- <app-examples></app-examples> -->
<h2>Advice: {{ advice }}</h2>
<h1>RxJs</h1>
@if (adviceRxResource.status() === 2) {
    <h2>Loading...</h2>
}
@if (adviceRxResource.status() === 4) {
    <h2>{{ adviceRxResource.value().slip.advice }}</h2>
}

<h1>Fetch</h1>
@if (adviceResource.status() === 2) {
    <h2>Loading...</h2>
}
@if (adviceResource.status() === 4) {
    <h2>{{ adviceResource.value().slip.advice }}</h2>
}
